/*
  color: #9792E3;
  color: #48435C;
  color: #6E2C8C;
*/
body {
  color: rgb(66,66,66);
}
h1,h2,h3,h4,h5,h6 {
  color: #371845;
}
a {
  /*color: rgb(42,93,173);*/
  color: #6E2C8C;
  text-decoration: none;
}
a:focus,
a:hover {
  text-decoration: underline;
}
blockquote {
  line-height: 1.666;
  font-size: 0.8em;
  padding-left: 16.875px;
  background: #f9f9f9;
  border-left: 3px solid #6B4E78;
  margin-left: 10.875px;
  margin-right: 0;
  padding: 1.5em 1.5em 1px;
}

figure {
  text-align: center;
}
figure img {
  margin-bottom: 0
}

figcaption {
  border-bottom: 1px solid #6B4E78;
  color: #6B4E78;
  display: inline-block;
  font-size: 0.81333em;
  max-width: 80%;
  padding: 0 0.813333em;
}

@media screen and (max-width: 600px) {
  html {
    font-size: 0.813333em;
    line-height: 1.5;
  }
  body {
    font-size: 1.5em;
  }
}


