---
layout: default
title: Dustan Kasten
---

<div id="home">
  <h1>Entries</h1>
  <ol class="posts">
    {% for post in site.posts %}
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
        <span class="pubdate" datetime='{{post.date | date: "%Y-%m-%d"}}'>{{ post.date | date: "%B %d, %Y" }}</span>
        <span>Posted in: 
          {% for tag in post.tags %}
            <a rel="tag" href="/tags/{{ tag }}">{{ tag }}</a>
          {% endfor %}
        </span>
        <p class="summary">{{ post.summary }}</p>
      </li>
    {% endfor %}
  </ol>
</div>
