---
layout: default
title: Dustan Kasten
---

<div id="home">
  <h1>Entries</h1>
  <ol class="posts hfeed">
    {% for post in site.posts %}
      <li class="hentry">
        <header><a class="entry-title" href="{{ post.url }}">{{ post.title }}</a></header>
        <div class="meta">
          <abbr class="updated" pubdate datetime='{{post.date | date_to_xmlschema}}'>{{ post.date | date: "%B %d, %Y" }}</span>
          <span class="entry-tags"><span class="visuallyhidden">Posted in: </span>
            {% for tag in post.tags %}
              <a rel="tag" href="/tags/{{ tag }}">{{ tag }}</a>
            {% endfor %}
          </span>
        </div>
        <p class="entry-summary">{{ post.summary }}</p>
      </li>
    {% endfor %}
  </ol>
</div>
