---
layout: default
---
<div class="hentry" id="{{ page.id }}">
  <h1 class="entry-title"><a href="{{ page.url }}">{{ page.title }}</a></h1>
  <div class="meta">
    <abbr class="published updated" title="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</abbr>
    <span class="entry-tags"><span class="visuallyhidden">Posted in: </span>
      {% for tag in page.tags %}
        <a rel="tag" href="/tags/{{ tag }}">{{ tag }}</a>
      {% endfor %}
    </span>
  </div>

  {% comment %}
  <ul class="meta">
    {% if page.categories != empty %}
      <li>Categories:{% for t in page.categories %} <a href="/{{ t | cgi_escape }}/">{{ t }}</a>{% endfor %}</li>
    {% endif %}
    {% if page.tags != empty %}
      <li>Tags:{% for t in page.tags %} <a rel="tag" href="/tags/#{{ t | cgi_escape }}">{{ t }}</a>{% endfor %}</li>
    {% endif %}
    <li>Meta:
      <a href="{{ site.url }}{{ page.url }}" rel="bookmark">permalink</a>
      <a href="{{ site.feed }}">atom</a>
    </li>
  </ul>
  {% endcomment %}

  <div class="entry-content">{{ content }}</div>

  <div id="disqus_thread"></div>

  <script type="text/javascript">
      var disqus_shortname = 'iamdustan';
      (function(d,_) {
        _=d.createElement('script');_.type='text/javascript';_.async=true;
        _.src='//'+disqus_shortname+'.disqus.com/embed.js';
        (d.getElementsByTagName('head')[0]).appendChild(_);
      })(document);
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

  <aside class="related">
    <header>Thoughts of Related Time</header>
    <ul>
      {% assign p = page.previous %}{% if p %}
      <li>
        <a href="{{ p.url }}">{{ p.title }}</a>
        <span>A thought I had on {{ page.date | date: "%B %d, %Y" }}</span>
      </li>
      {% endif %}
      {% assign p = page.next %}{% if p %}
      <li>
        <a href="{{ p.url }}">{{ p.title }}</a>
        <span>Another thought I had on {{ page.date | date: "%B %d, %Y" }}</span>
      </li>
      {% endif %}
    </ul>
  </aside>
</div>

{% comment %}
<aside>
  <header>Related Posts</header>
  <ul class="posts hfeed">
    {% for post in site.related_posts limit:3 %}<li class="hentry"><span class="pubdate">{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}" class="title">{{ post.title }}</a></li>{% endfor %}
  </ul>
</aside>
{% endcomment %}


